*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#header{
    background-image: url(../tienda-pelis/img/camp.png);
    background-position: 50%;
}

#header #nav #img{
margin-left: 840px;
padding-top: 2px;
}

#header #nav #icon-menu{
   width: 96px;
   background-color: #55b66a;
   display: block;
}

#header #icon-menu{
    position: absolute;
    float: right;
    padding-left: 1824px;
    transition: all 300ms;
}

#header #icon-menu img{
    transition: all 300ms;
}

#header #icon-menu img:hover{
   transform: translateX(-20px);
}


/*Inicio menu*/
.menuCSS3 ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
}
.menuCSS3 a {
    display: block;
    padding: 25px;
    font-family: fantasy;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
    transition: all 300ms;
}
.menuCSS3 a:hover {
    background-color: #CC673B;
}
.menuCSS3 ul li ul {
    display: none;
}
.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
    display: block;
}
/*FIN MENU*/

h2{
    position: absolute;
    margin-top: 130px;
    margin-left: 673px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgba(17, 6, 6, 0.664);
}
/*
#refresh img{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 58%;
    margin-top: 195px;
    animation-name: refresh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
*/
/*
@keyframes refresh{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(160deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
*/
/*INICIO LOCATION*/
#location img{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 60px;
    margin-left: 47%;
    animation-name: location-arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes location-arrow{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(0px);
    }
}


/*FIN LOCATION*/

/*INICIO MIEMBROS*/
#miembros .img1{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: 100px;
    margin-left: 230px;
    border: 5px solid gold;
}

#miembros .img2{
    width: 400px;
    height: 300px;
    position: absolute;
    margin-top: 100px;
    margin-left: 1290px;
    border: 5px solid gold;
}

#miembros img:hover{
    transform: scale(1.1, 1.1);
    transition: all 300ms;
}





/*FIN MIEMBROS*/




/*INICO FOOTER*/
#footer{
    padding-top: 228px;
    background-color: #48a55c;
    border-top: 3px solid #2c6d3a;
    margin-top: 500px;
}

#footer p{
    width: 100%;
    text-align: center;
    display: block;
    margin-top: -160px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#footer a{
    width: 9%;
    margin-left: 46%;
    display: block;
    text-align: center;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}

#footer a:hover{
    color: rgba(17, 6, 6, 0.664);
}



/*FIN FOOTER*/